<!DOCTYPE html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}?v=1">
</head>
<body>
    <main>
        <p id="counter"></p>
        <button id="mode" onclick="changeMode()"><img id="img_mode" src = 'static/images/TileUnknown.png'></button>
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody id="Table">
                <!-- LEAVE EMPTY!!!!! FILLED BY SCRIPT-->
            </tbody>
        </table>
        <p id="GameState">Click on the tiles to reveal them.</p>
    </main>
    <script>
        var mines = [];
        var flagged = [];
        var numbers = [];
        var revealed = [];
        var mode = "tile";
        var ended;
        var gameSize;
        function generateField(size) {
            document.getElementById(`counter`).innerHTML=size;
            gameSize = size;
            var tableBody = document.getElementById('Table');
            var numberOfMines = size;
            mines = placeMines(size, numberOfMines);
            numbers = generateNumbers();
            revealed = Array.from({ length: gameSize }, () => Array(gameSize).fill(false));
            for(var x = 0; x < size; x++){
                var row = document.createElement('tr');
                for (var y = 0; y < size; y++) {
                    var tile = document.createElement('td');
                    tile.innerHTML = `<button onclick="handleClick(${x}, ${y})"><img id='${x} ${y}' src='static/images/TileUnknown.png'></button>`;
                    row.appendChild(tile);
                    tableBody.appendChild(row);
                    document.getElementById(`${x} ${y}`).src=`static/images/TileUnknown.png`;
                }
            }
        }

        function generateNumbers(){
            var Neighbours = new Set();
            for(var x = 0; x < gameSize; x++){
                for(var y = 0; y < gameSize; y++){
                    var n = generateNumber(x,y)
                    Neighbours.add(`${x},${y},${n}`)
                }
            }
            return Array.from(Neighbours).map(neighbour => neighbour.split(',').map(Number));
        }

        function generateNumber(x,y){
            var check_x;
            var check_y;
            var foundMines = 0;
            for(var i = -1; i < 2; i++){
                for(var j = -1; j < 2; j++){
                    check_x = Math.max(0, Math.min(x + i, gameSize)); // Ensures no over or underflow
                    check_y = Math.max(0, Math.min(y + j, gameSize));
                    if(checkMines(check_x,check_y)){
                        foundMines += 1;
                    }
                }
            }
            return foundMines;
        }

        function getTileNumber(x,y){
            var number = 0;
            for(var n = 0; n < numbers.length; n++){
                if(numbers[n][0] == x && numbers[n][1] == y){
                    number = numbers[n][2];
                    break;
                }
            }
            return number;
        }

        function findClearing(x, y) {
            var currentNumber;
            if(x < 0 || x >= gameSize || y < 0 || y >= gameSize){
                return;
            }
            if(revealed[x][y] === true){
                return;
            }
            revealed[x][y] = true;
            currentNumber = getTileNumber(x,y);
            if (checkFlags(x, y)){
                return;
            }
            if(currentNumber){
                document.getElementById(`${x} ${y}`).src=`static/images/Tile${currentNumber}.png`;
            } else {
                document.getElementById(`${x} ${y}`).src=`static/images/TileEmpty.png`;
            }
            if (getTileNumber(x, y) !== 0){
                return;
            }
            findClearing(x - 1, y - 1);
            findClearing(x - 1, y);
            findClearing(x - 1, y + 1);
            findClearing(x, y - 1);
            findClearing(x, y + 1);    
            findClearing(x + 1, y - 1); 
            findClearing(x + 1, y);     
            findClearing(x + 1, y + 1); 
        }

        
        function placeMines(size, numberOfMines) {
            var placedMines = new Set(); 
            while (placedMines.size < numberOfMines) {
                var x = Math.floor(Math.random() * size); 
                var y = Math.floor(Math.random() * size); 
                placedMines.add(`${x},${y}`);
            }
            return Array.from(placedMines).map(mine => mine.split(',').map(Number));
        }

        function changeMode(){
            if(mode == "tile"){
                document.getElementById("img_mode").src=`static/images/TileFlag.png`;
                mode = "flag";
            } else {
                document.getElementById("img_mode").src=`static/images/TileUnknown.png`;
                mode = "tile";
            }
        }

        function checkTile(x, y) {
            var currentNumber;
            if(mode == "tile"){
                if(checkMines(x,y)){
                    gameOver(x,y);
                } else {
                    currentNumber = getTileNumber(x,y);
                    if(currentNumber){
                        document.getElementById(`${x} ${y}`).src=`static/images/Tile${currentNumber}.png`;
                    } else {
                        document.getElementById(`${x} ${y}`).src=`static/images/TileEmpty.png`;
                        findClearing(x,y);
                    }
                }
            } else if(revealed[x][y] === false){
                var flagLocation = checkFlags(x,y);
                if(flagLocation){
                    document.getElementById(`${x} ${y}`).src=`static/images/TileUnknown.png`;
                    flagged.splice(flagLocation - 1, 1);
                } else {
                    document.getElementById(`${x} ${y}`).src=`static/images/TileFlag.png`;
                    flagged.push([x, y]);
                    if(flagged.length == mines.length){
                        console.log(flagged.length);
                        checkWin();
                    }
                }
                document.getElementById(`counter`).innerHTML=gameSize - flagged.length;
            }
        }

        function checkWin(){
            var success;
            for(var i = 0; i < flagged.length; i++){
                for(var j = 0; j < mines.length; j++){
                    if(mines[j][0] == flagged[i][0] && mines[j][1] == flagged[i][1]){
                        success += 1;
                    }
                }
            }
            if(success == mines.length){
                ended = 1;
                document.getElementById(`GameState`).innerHTML=`VICTORY!`;
            }
        }

        function gameOver(fail_x, fail_y){
            ended = 1;
            document.getElementById(`GameState`).innerHTML=`GAME OVER`;
            for(var x = 0; x < gameSize; x++){
                for(var y = 0; y < gameSize; y++){
                    if(checkMines(x,y) && !checkFlags(x,y)){
                        if(x == fail_x && y == fail_y){
                            document.getElementById(`${x} ${y}`).src=`static/images/TileExploded.png`;
                        } else {
                            document.getElementById(`${x} ${y}`).src=`static/images/TileMine.png`;
                        }
                    } 
                }
            }
        }

        function handleClick(x,y){
            if(!ended){
                checkTile(x,y);
            }
        }

        function checkMines(x,y){
            for(var i = 0; i < mines.length; i++){
                if(mines[i][0] == x && mines[i][1] == y){
                    return 1;
                }
            }
        }

        function checkFlags(x,y){
            for(var j = 0; j < flagged.length; j++){
                if(flagged[j][0] == x && flagged[j][1] == y){
                    return j + 1;
                }
            }
        }

        document.onload = generateField(10);
    </script>
</body>