<!DOCTYPE html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}?v=1">
</head>
<body>
    <main>
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody id="Table">
                <!-- LEAVE EMPTY!!!!! FILLED BY SCRIPT-->
            </tbody>
        </table>
    </main>
    <script>
        var mines = [];
        function generateField(size) {
            var tableBody = document.getElementById('Table');
            var numberOfMines = size;
            mines = placeMines(size, numberOfMines);
                    for(var x = 0; x < size; x++){
                        var row = document.createElement('tr');
                        for (var y = 0; y < size; y++) {
                            var tile = document.createElement('td');
                            tile.innerHTML = `<button onclick="checkTile(${x}, ${y})"><img id='${x}${y}'></button>`;
                            row.appendChild(tile);
                            tableBody.appendChild(row);
                            document.getElementById(`${x}${y}`).src=`static/images/TileUnknown.png`;
                        }
                    }
        }

        function placeMines(size, numberOfMines) {
            var placedMines = new Set(); 
            while (placedMines.size < numberOfMines) {
                var x = Math.floor(Math.random() * size); 
                var y = Math.floor(Math.random() * size); 
                placedMines.add(`${x},${y}`);
            }
            return Array.from(placedMines).map(mine => mine.split(',').map(Number));
        }

        function checkTile(x, y) {
            for(var i = 0; i < mines.length; i++){
                if(mines[i][0] == x && mines[i][1] == y){
                    document.getElementById(`${x}${y}`).src=`static/images/TileExploded.png`;
                } else {
                    document.getElementById(`${x}${y}`).src=`static/images/TileEmpty.png`;
                }
            }
        }
        document.onload = generateField(10);
    </script>
</body>